storage: none

source https://api.nuget.org/v3/index.json

nuget FSharp.Core 4.5.4
nuget Giraffe 3.4.0
nuget Microsoft.AspNetCore.App
nuget Microsoft.NET.Test.Sdk 15.9.0
nuget Microsoft.Orleans.Client 2.1.2
nuget Microsoft.Orleans.Core 2.1.2
nuget Microsoft.Orleans.Core.Abstractions 2.1.2
nuget Microsoft.Orleans.OrleansCodeGenerator 2.1.2
nuget Microsoft.Orleans.Server 2.1.2
nuget Microsoft.Orleans.TestingHost 2.1.2
nuget TaskBuilder.fs 2.1.0
nuget Unquote 4.0.0
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.1